<center><h1>Editing Architecture</h1></center>

<%= render 'form', architecture: @architecture %>


<div class="col-xs-12 col-md-12 nav-buttons">
  <%= link_to('Go Back', new_server_path, class: "btn btn-primary") %>
  <%= link_to('Next', new_firewall_path, class: "btn btn-primary pull-right") %>
</div>
