<center><h1>Architecture Diagram</h1></center>

<%= render 'form', architecture: @architecture %>

<div class="col-xs-12 col-md-12 nav-buttons">
  <%= link_to('Go Back', new_server_path, class: "btn btn-primary") %>
  <% if Architecture.arch_count == 0 %>
    <%= link_to('Next', new_firewall_path, class: "btn btn-primary pull-right", data: { confirm: 'Are you sure you uploaded your image?' }) %>
  <% else %>
    <%= link_to('Next', new_firewall_path, class: "btn btn-primary pull-right") %>
  <% end %>
</div>
