<%= render 'form', server: @server %>

<div class="col-xs-12 col-md-12 nav-buttons">
  <%= link_to 'Go Back', servers_path, class: "btn btn-primary" %>
  <%= link_to('Next', new_architecture_path, class: "btn btn-primary pull-right") %>
</div>
