<h1>Firewall Details</h1>

<%= render 'form', firewall: @firewall %>

<div class="col-xs-12 col-md-12 nav-buttons">
  <%= link_to('Go Back', new_server_path, class: "btn btn-primary") %>
  <%= link_to('Next', new_architecture_path, class: "btn btn-primary pull-right") %>
</div>
