<h1>Firewall Configuration(Local Server)</h1>
  <%= notice %>
  
  <%= render 'form', firewall: @firewall %>

<div class="col-xs-12 col-md-12 nav-buttons">
  <%= link_to('Go Back', new_architecture_path, class: "btn btn-primary") %>
  <%= link_to('Next', new_deployment_path, class: "btn btn-primary pull-right") %>
</div>
