<h1>Server Access</h1>

<%= render 'form', access: @access %>

<div class="col-xs-12 col-md-12 nav-buttons">
  <%= link_to('Go Back', new_certificate_path, class: "btn btn-primary") %>
  <%= link_to('Next', new_task_path, class: "btn btn-primary pull-right") %>
</div>
