<h1>SSL Certificates</h1>

<%= render 'form', certificate: @certificate %>

<%#= link_to 'Back', certificates_path %>

<div class="col-xs-12 col-md-12 nav-buttons">
  <%= link_to('Go Back', new_deployment_path, class: "btn btn-primary") %>
  <%= link_to('Next', new_access_path, class: "btn btn-primary pull-right") %>
</div>
