// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap";


.row-description {
  background-color: #ECEEEF;
}

#new-button {
  float: left;
}

#next-button {
  float: right;
}
