// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap";


.row-description {
  background-color: #ECEEEF;
}

.pull-right {
    float: right !important; // Use of important emulates bootstrap
}

.pull-left {
    float: left !important; // Use of important emulates bootstrap
}

.add-server-button {
  margin-top: -1em;
}


.nav-buttons {
  margin-top: 2em;
  margin-bottom: 1em;
}

//
// #firewall_description.placeholder {
//   color: black !important;
// }

.form-control::-webkit-input-placeholder { color: black; }
.form-control:-moz-placeholder { color: black; }
.form-control::-moz-placeholder { color: black; }
.form-control:-ms-input-placeholder { color: black; }
