<h1>Editing Deployment</h1>

<%= render 'form', deployment: @deployment %>

<div class="col-xs-12 col-md-12 nav-buttons">
  <%= link_to('Go Back', new_firewall_path, class: "btn btn-primary") %>
  <%= link_to('Next', new_certificate_path, class: "btn btn-primary pull-right") %>
</div>
